<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Blood cells AR.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>246F20C0295B6C8300D8BAF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>246F20D0295B6C8500D8BAF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>246F20DA295B6C8500D8BAF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
